body{
  background-color: white;
}

.button3 {
    background-color: black; 
    color: 
    #0ad0ad; 
    border: 1px solid 
    #0ad0ad;

  }
  
  .button3:hover {
    background-color: 
    #0ad0ad;
    color: black;
   
}

.button4 {
    background-color: #0ad0ad;
    color: black;
    border: 1px solid #0ad0ad;
  }
  
  .button4:hover {
    background-color: #09b494;
    color: black;
}

.navbar{
  height: 62px;
}
.fa {
  font-size: 30px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}










.dropbtn {
  background-color: white;
  color: black;
  font-size: 16px;
  border: 2px black solid;
}

.dropup {
  position: relative;
  display: inline-block;
  max-height: 100px;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  bottom: 28px;
  z-index: 1;
  border: 2px black solid;
}

.dropup-content a {
  color: black;
  padding-left: 20px;
  text-decoration: none;
  display: block;
  border: 1px black solid;
}

.dropup-content a:hover {background-color: grey; color: white;}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}